<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.kotlin.contact">

    <application
        android:fullBackupContent="true"
        tools:ignore="GoogleAppIndexingWarning">
    </application>

</manifest>